* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
}

header {
    position: absolute;
    top: 0%;
    height: 50px;
    width: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding: 10px 0px;
    background-color: rgb(4, 1, 139);
    color: white;
}

.main {
    height: 250px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    /* box-shadow: 5px 5px 20px #56d8e4, -5px -5px 20px #9f01ea; */
}

.unit {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input,
select,
button {
    width: 300px;
    padding: 10px 0px;
    margin: 10px 0px;
    border: none;
    font-size: 1rem;
    border-radius: 20px;
    background-color: #baf7f7;
    text-align: center;
}

input:hover,
select:hover {
    background-color: #30cfcf;
}

span {
    padding: 10px;
    font-size: 1.6rem;
    color: #6e00a1;
}

button {
    color: white;
    background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
}

button:hover {
    background: linear-gradient(115deg, #78f1fc 10%, #d67cff 90%);
    color: black;
}

#outputText {
    padding: 20px 0px;
    font-size: 3rem;
    width: 300px;
    text-align: center;
    color: white;
}

footer {
    position: absolute;
    bottom: 0%;
    height: 20px;
    width: 100%;
    background-color: #000;
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
  }
  
  .footer-center {
    font-size: 1rem;
    flex: 1;
    text-align: center;
  }
  
  .footer-right {
    display: flex;
  }
  
  .footer-right a {
    color: grey;
    margin-left: 10px;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .footer-right a:hover {
    color: #9f01ea;
  }
  
  .footer-right i {
    font-size: 1.5rem;
  }
  

/* Media Query for Mobile Devices */
@media screen and (max-width: 480px) {
    .unit {
        flex-direction: column;
        align-items: center;
    }

    select {
        width: 300px;
    }

    span {
        transform: rotate(90deg);
    }
}
